.wrapper { 
    position: fixed;
    padding: 10px 10px 10px 20px;
    z-Index: 9998;
    height: auto;
    display: inline-block;
    border: 0;
    font-size: 14px;
    font-family: "Roboto","Helvetica Neue","Arial","sans-serif";
    font-weight: 400;
    color: "#FFFFFF";
}